* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 182px;
    line-height: 57px;
    padding: 0 16px;
    border: 1.5px solid #FFFFFF;
    text-align: center;
    border-radius: 999px;
}

.main-content {
    width: 1086px;
    max-width: calc(100% - 48px);
    margin: auto;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 2;
}

.header.fixed {
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
    transition: .3s;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    gap: 18px;
}

.nav a {
    padding: 16px 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 21px;
    color: #FFFFFF;
}

.nav li:hover a {
    color: #ED4690;
    text-shadow: 4px 1px 7px rgba(237, 70, 144, 0.49);
    transition: all .2s linear;
}

.action {
    margin-left: 50px;
}

.action .btn-login {
    min-width: 101px;
    line-height: 41px;
    color: #FFFFFF;
}

.action:hover .btn-login {
    transition: all .2s linear;
    color: #ED4690;
    border-color: #ed4691ab;
    text-shadow: 4px 1px 7px rgba(237, 70, 144, 0.49);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/hero-bg.jpeg');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
    mix-blend-mode: normal;
    opacity: 0.9;
    z-index: inherit;
}

.hero .main-content {
    padding-top: 60px;
    transform: translateZ(0);
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero-right {
    margin-left: 150px;
}

.hero-right .heading {
    width: 443px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 49px;
    color: #FFFFFF;
}

.hero-right .desc {
    max-width: 443px;
    margin-top: 26px;
    font-size: 1.8rem;
    line-height: 2.3;
    color: #FFFFFF;
}

.hero-right .btn-dual {
    margin-top: 30px;
}

.btn-dual .btn-gt {
    background: #F5167E;
    box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
    border-radius: 50px;
    border: 1px solid transparent;
    margin-right: 20px;
}

.btn-dual a {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3;
    text-align: center;
    color: #FFFFFF;
}

.btn-gt:hover {
    transition: all .2s linear;
    opacity: 0.8;
    cursor: pointer;
}

.btn-lm:hover {
    transition: all .2s linear;
    border-color: #ed4691ab;
}

.btn-lm:hover a {
    transition: all .2s linear;
    color: #ED4690;
    text-shadow: 4px 1px 7px rgba(237, 70, 144, 0.49);
}

/* Search-box */
.search-box {
    display: inline-flex;
    gap: 40px;
    position: absolute;
    bottom: -195px;
    background: #242565;
    box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
    border-radius: 20px;
    padding: 30px 68px 45px;
}

.search-box-item {
    width: 290px;
}

.search-box-item::after {
    display: inline-block;
    content: "";
    width: 290px;
    height: 1px;
    background-color: #7778B0;
}

.search-box-item .title {
    font-size: 1.6rem;
    line-height: 21px;
    color: #FFFFFF;
}

.search-box-item .content {
    margin-top: 11px;
    font-weight: 700;
    font-size: 2.2rem;
    color: #FFFFFF;
}

.search-box-item:nth-child(3) {
    position: relative;
}

.search-box-item .icon-arrow {
    position: absolute;
    right: 0;
    bottom: 12px;
}

/* Events */
.event {
    padding-top: 174px;
}

.event .event-upcoming {
    display: flex;
    justify-content: space-between;
}

.event-upcoming .heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 49px;
    color: #242565;
}

.event-upcoming .group-events {
    display: flex;
    gap: 20px;
}

.event-upcoming .group-events select {
    height: 46px;
    padding: 0px 43px;
    background: #F2F4FF;
    border-radius: 50px;
    border: none;
    color: #242565;
    appearance: none;
}

.event-list {
    margin-top: 80px;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.event-list-item {
    max-width: 343px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
}

.event-list-item .event-box {
    display: flex;
}


.event-item-img img {
    width: 343.05px;
    height: 197.11px;
    object-fit: cover;
    border-radius: 18.9529px 18.9529px 0px 0px;
}

.event-item-date {
    margin: 21px 23px 68px;
    display: inline-flex;
    flex-direction: column;
}

.event-item-date .month {
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 15px;
    color: #3D37F1;
}

.event-item-date .day {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 37px;
    color: #000000;
}

.event-content {
    margin: 15px 28px 22px 0;
}

.event-content .title {
    max-width: 242px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #000000;
}

.event-content .desc {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #6A6A6A;
}

.event-btn-items {
    margin-top: 62px;
    text-align: center;
}

.event-btn-items .btn-events {
    display: inline-block;
    padding: 18px 45px 19px;
    border: 1.5px solid #3D37F1;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 23px;
    color: #3D37F1;
    border-radius: 50px;
    filter: drop-shadow(0px 10px 50px rgba(61, 55, 241, 0.25));
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.event-btn-items .btn-events:hover {
    border-color: #ED4690;
    color: #ED4690;
    filter: drop-shadow(0px 10px 50px rgba(237, 70, 144, 0.49));
}

.create-events {
    position: relative;
    margin-top: 64px;
    height: 252px;
    background: #EEE1FF;

}

.create-events-img {
    position: absolute;
    bottom: 0;
}

.create-events-img img {
    width: 544.67px;
    height: 303px;
    object-fit: cover;
}

.create-events-content {
    width: 417.17px;
    position: absolute;
    left: 53.7%;
    padding: 35px 0;
}

.create-events-content .title {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 1.3;
    color: #000000;
}

.create-events-content .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #272727;
}

.create-events-btn {
    margin-top: 21px;
    display: inline-block;
}

.create-events-btn .btn-cte {
    display: inline-block;
    padding: 21px 90px;
    font-weight: 700;
    font-size: 1.8rem;
    background: #F5167E;
    box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    transition: all .2s linear;

}

.create-events-btn .btn-cte:hover {
    background-color: #3D37F1;
}

/* Brands */
.brands {
    margin-top: 132px;
}

.brands .join-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-brands .heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 49px;
    color: #242565;
}

.join-brands .desc {
    margin-top: 22px;
    max-width: 613px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 23px;
    color: #6A6A6A;
}

.brands-list {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand-item:nth-child(1) {
    margin-right: 45.43px;
}

.brand-item:nth-child(2) {
    margin-right: 82.02px;
}

.brand-item:nth-child(3) {
    margin-right: 54.47px;
}

.brand-item:nth-child(4) {
    margin-right: 15px;
}

.brand-item:nth-child(5) img {
    width: 220px;
    height: auto;
    object-fit: cover;
}

.brand-item:nth-child(6) {
    margin-right: 9.3px;
}

.brand-item:nth-child(7) {
    margin-right: 65px;
}

.brand-item:nth-child(8) {
    margin-right: 79.52px;
}

/* Blog */
.blog {
    margin-top: 138px;
}

.blog .body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog .body .heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 49px;
    color: #242565;
}

.blog .body .desc {
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 2.7;
    color: #6A6A6A;
}

.blog-list {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.blog-item-img img {
    width: 343px;
    height: 210px;
    object-fit: cover;
}

.blog-item-content {
    max-width: 343px;
}

.blog-item-content .title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
    color: #242565;
}

.blog-item-content .desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.blog-item-content .references {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #A5A5A5;

}